/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

body {
    background: #2E9CE6;
    padding: 3em;
    font-family: 'Raleway','Arial';
    color: #fff;
}

ul {
    list-style-type: none;
    margin: 0 0 2em 0;
    padding: 0;
}

ul li {
    display: inline;
    margin-right: 30px;
}

div.sm-jumbotron{
    margin: 0px;
    padding: 2rem;
    background-color: #2885C4;
    color: #fff;
}

button.btn-submit{
    background-color: #2885C4;
    color: #fff;
    width: 100%;
}
button.btn-submit:focus,button.btn-submit:hover{
    background-color: #2885C4;
}

input.ng-invalid.ng-dirty {
    border-bottom-color: #e91e63 !important;
    box-shadow: 0 1px 0 0 #e91e63 !important;

}

ul li a {
    font-size: 1.5em;
}

a {
    color: #fff;
    text-decoration: none;
}

/*for error div i*/
div.error-message i{
    vertical-align: middle !important;
}

/*for tab control*/
.tabs{
    height: 65px;
}
.tabs .tab{
    text-transform : none !important;
    line-height: 65px;
    height: 65px;
}
.tabs .tab a{
    font-size: 25px;
    color: grey !important;
}

.tabs .tab a.active{
    background-color: #fff !important;
}